
{{ if .Values.rollout.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
  labels:
    app: {{ .Chart.Name }}
spec:
  type: ClusterIP
  ports:
    - name: http-metrics
      protocol: TCP
      port: 80
      targetPort: 80
  selector:
    name: {{ .Chart.Name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}-preview
  labels:
    app: {{ .Chart.Name }}-preview
spec:
  type: ClusterIP
  ports:
    - name: http-metrics
      protocol: TCP
      port: 80
      targetPort: 80
  selector:
    name: {{ .Chart.Name }}
{{ end }}